<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav pull-left">
            {% url 'home_page' as home_page_url %}
            <li class="{% ifequal request.path home_page_url %}active{% endifequal %}">
                <a href="{{ home_page_url }}">
                    <i class="icon-home"></i>
                </a>
            </li>
            {% url 'my_diary' as my_diary_url %}
            <li {% ifequal request.path my_diary_url %}class="active"{% endifequal %}>
                <a href="{{ my_diary_url }}">Дневник</a>
            </li>
        </ul>
        <ul class="nav pull-right">
            {% if request.user.is_authenticated %}
                <li>
                    <div class="btn-group pull-right">
                        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle {% if '/users/' in request.path %}active{% endif %}">
                            <i class="icon-user"></i>
                            {{ request.user.get_full_name }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'users_myprofile' %}">Личный кабинет</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Выйти</a>
                            </li>
                        </ul>
                    </div>
                </li>
            {% else %}
                {% url 'login' as login_url %}
                <li {% ifequal request.path login_url %}class="active"{% endifequal %}>
                    <a href="{{ login_url }}">Вход</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>