<!DOCTYPE html>{% load js %}
<html lang="ru" ng-app="foodDiaryApp">
    <head>
        <title>{% block title %}{% endblock %} &mdash; Дневник питания</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet" media="screen">
        {% block extra_css %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" ng-app="foodDiaryApp">
        {% include "includes/menu.html" %}

        {% block content %}
        {% endblock %}
    </body>

    <!-- Vendors -->
    {% if debug %}
        <script src="{{ STATIC_URL }}bower_components/jquery/jquery.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}bower_components/angular-resource/angular-resource.min.js" type="text/javascript"></script>
    {% else %}
        <script src="{{ STATIC_URL }}bower_components/jquery/jquery.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}bower_components/angular/angular.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}bower_components/angular-resource/angular-resource.js" type="text/javascript"></script>
    {% endif %}
    {% django_js jquery=false i18n=false csrf=true %}

    <script src="{{ STATIC_URL }}js/app/app.js" type="text/javascript"></script>
    {% block extra_js %}
    {% endblock %}

    {% include "includes/metrika.html" %}
</html>