<!DOCTYPE html>{% load js compress %}
<html lang="ru">
    <head>
        <title>{% block title %}{% endblock %} &mdash; Дневник питания</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% compress css %}
            <link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet" media="screen">
            {% block extra_css %}
            {% endblock %}
        {% endcompress %}
    </head>
    <body class="{% block body_class %}{% endblock %}" ng-app="foodDiaryApp">
        {% include "includes/menu.html" %}

        {% block content %}
        {% endblock %}
    </body>

    {% django_js jquery=false i18n=false csrf=true %}
    {% compress js %}
        <!-- Vendors -->
        {% if debug %}
            <script src="{{ STATIC_URL }}bower_components/jquery/jquery.js" type="text/javascript"></script>
            <script src="{{ STATIC_URL }}bower_components/angular/angular.js" type="text/javascript"></script>
            <script src="{{ STATIC_URL }}bower_components/angular-resource/angular-resource.js" type="text/javascript"></script>
            <script src="{{ STATIC_URL }}bower_components/underscore/underscore-min.js" type="text/javascript"></script>
        {% else %}
            <script src="{{ STATIC_URL }}bower_components/jquery/jquery.min.js" type="text/javascript"></script>
            <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js" type="text/javascript"></script>
            <script src="{{ STATIC_URL }}bower_components/angular-resource/angular-resource.min.js" type="text/javascript"></script>
            <script src="{{ STATIC_URL }}bower_components/underscore/underscore.js" type="text/javascript"></script>
        {% endif %}
        <script src="{{ STATIC_URL }}bower_components/bootstrap/js/bootstrap-dropdown.js" type="text/javascript"></script>

        <script src="{{ STATIC_URL }}js/app/app.js" type="text/javascript"></script>
        {% block extra_js %}
        {% endblock %}
    {% endcompress %}

    {% include "includes/metrika.html" %}
</html>